<div class="d-flex flex-column align-items-center mx-auto mt-5" style="min-width: 300px">
  <div>
    <h1 class="text-white">你想對誰說幹話？</h1>
  </div>
  <form action="/" method="POST">
    <div class="d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <div class="avatar engineer"></div>
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="engineer" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">工程師</label>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="avatar designer"></div>
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="designer" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">設計師</label>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="avatar founder"></div>
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="entrepreneur" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">創業家</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-2 justify-content-center">
      <button type="submit" class="btn btn-primary" style="max-height: 38px">產生幹話</button>
      <div class="border-dark col-8 bg-light text-box">{{#if trashTalk}} {{trashTalk}} {{/if}}</div>
    </div>
  </form>
</div>